{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <h2>{% if form.instance.pk %}Update{% else %}Create{% endif %} Kategori ILAP</h2>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3">Save</button>
                <a href="{% url 'kategori_ilap_list' %}" class="btn btn-secondary mt-3">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}